body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

#total-card {
  width: 310px;
  height: 420px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 10vh;
  border-radius: 30px;
  overflow: hidden;
}

#total-card:hover #inside-elements {
  transform: translateY(100px);
}

#total-card:hover #save-button {
  transform: translateY(-100px);
}

#card-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#total-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#inside-elements {
  position: absolute;
  display: flex;
  top: auto;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 1em;
  font-weight: bold;
  transition: transform 3s;
}

#save-button {
  position: absolute;
  background-color: red;
  border-radius: 50px;
  color: white;
  top: 1em;
  right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  transition: transform 3s;
}

#save-button:hover {
  transform: translateY(-100px);
}

#go-to-page-button {
  background-color: rgba(255, 255, 255, 0.9);
  width: 50%;
  border-radius: 50px;
  margin-right: 0.5em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 0.9em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#upload-button {
  background-color: rgba(255, 255, 255, 0.75);
  width: 10%;
  height: 2.5em;
  border-radius: 50%;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-top: 0.9em;
  padding-left: 0.9em;
  padding-right: 0.9em;
  transition: transform 3s;
}

#options-button {
  background-color: rgba(255, 255, 255, 0.75);
  width: 10%;
  border-radius: 50%;
  margin-left: 0.5em;
  padding-top: 0.9em;
  padding-left: 0.9em;
  padding-right: 0.9em;
  transition: transform 3s;
}
